// FONT SIZES
$text-fs-l: 1.8rem;
$text-fs-m: 1.5rem;
$text-fs-s: 1.2rem;
$h1-fs-l: 20rem;
$h1-fs-m: 17.5rem;
$h1-fs-s: 10rem;
$h2-fs-l: 5.6rem;
$h2-fs-m: 4rem;
$h2-fs-s: 2rem;
$h3-fs-l: 2.4rem;
$h3-fs-m: 1.8rem;
$h3-fs-s: 1.5rem;
$h4-fs-l: 2rem;
$h4-fs-m: 1.8rem;
$h4-fs-s: 1.5rem;

// COLORS
$cl-black: rgb(0, 0, 0);
$cl-dark-grey: rgb(48, 48, 48);
$cl-white: rgb(255, 255, 255);
