@use '../../Sass/variables';

.container {
  max-width: 57.3rem;
  width: 100%;
  max-height: 80rem;
  height: 85vh;
  margin: 5.6rem 16.5rem;
  transform: translateY(0);
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .quote__container {
    display: flex;
    width: 100%;

    .quote {
      max-width: 60rem;
      transition: all 0.3s;

      & p {
        font-weight: 400;
        opacity: 0.8;
        margin-bottom: 1.4rem;
        line-height: 1.6;
        font-size: variables.$text-fs-l;
      }

      & span {
        font-weight: 700;
        opacity: 0.8;
        letter-spacing: 0.5px;
      }
    }
  }

  .location__info {
    display: flex;
    gap: 4.6rem;
    flex-direction: column;

    width: 100%;

    .greeting__container {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      & h2 {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
      }
    }

    .hour__info {
      display: flex;

      &-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 111rem;
        width: 80vw;
        margin-right: 10rem;
      }

      &-inner {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }

      & h1 {
        font-size: variables.$h1-fs-l;
        line-height: 0.75;
        letter-spacing: 0.6rem;
      }

      & span {
        align-self: flex-end;
        font-size: variables.$h2-fs-l;
        font-weight: 300;
        line-height: 0.7;
      }
    }

    & h3 {
      font-size: variables.$h3-fs-l;
      text-transform: uppercase;
      letter-spacing: 0.48rem;
    }
  }
}

.active {
  transform: translateY(-55%);

  .quote {
    opacity: 0;
  }
}
